@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-behaviour-smooth;
  }

  body {
    @apply font-semibold text-body text-neutral-blue-grayish bg-neutral-blue-pale;
  }
}

@layer utilities {
  .scroll-behaviour-smooth {
    scroll-behavior: smooth;
  }

  .grid-area-container {
    grid-template-areas: 'single';
  }

  .grid-area {
    grid-area: single;
  }

  .list li {
    @apply pl-4 mb-2 last:mb-0;
  }

  .list li::marker {
    content: url(../icons/icon-check.svg);
  }
}
